body {
  background: rgb(241, 90, 36);
  background: linear-gradient(
    90deg,
    rgba(241, 90, 36, 1) 0%,
    rgba(214, 182, 170, 1) 50%,
    rgba(56, 182, 255, 1) 100%
  );
}
.main{
    
    text-align: center;
}

.main a{
    text-decoration: none;
}